/* --------------For Header -----------------*/
.navbar-default {
	color: black;
	width: 100%;
}

.navbar-nav {
	margin-right: 0px;
}

.navbar ul li a:hover{
	color: #000000;
	transform: scale(1.3);
	transition: all 0.3s ease 0s;
}





/*---------------For Home page--------------------*/
#info {
	background-color: #336633;
}

/* ----------------For Aboutus Page -------------------*/
#abtuscontainer {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #CCCCFF;
}

.links a:hover{
	color: red;
	text-decoration: none;
}


/* ---------- For Log In----------- */

.login_form {
	width: 400px;
	margin-left: 40px;
}

.modal-footer {
	text-align: center;

}

/* ----------Course---------- */
.container {
	padding-top: 120px;
	padding-bottom: 100px;
}

.thumbnail img:hover {
	transform: scale(1.1);
}

.thumbnail img {
	transition: all 0.3s ease 0s;
	width: 100%;
}

.thumbnail {
	overflow: hidden;
}

#coursecontainer {
	background-color: #009966;
}

h2,p {
	text-align: center;
}




/*----------------- For Signup Page-----------------*/

/*.panel {
	text-align: center;
	width: 50%;
	margin-left: 300px;
	border: 1px solid grey;
}

.panel-body {
	padding-top: 15px;
}*/

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	border-radius: 20%;
}

#Signup {
	padding-top: 80px;
	padding-left: 60px;
	padding-bottom: 60px;
}

fieldset {
	border: thin solid #ccc;
	border-radius: 4px;
	padding: 20px;
	padding-left: 40px;
	background : #fbfbfb;
}

legend {
	color: #678;
}

.form-control {
	width: 95%;
}

label small {
	color: #678;
}

span.req {
	color: maroon;
	font-size: 112%;
}

/* ---------------For Contact Page-----------------*/

#contactcontainer {
	padding-top: 80px;
	padding-bottom: 150px;
	background-color: #FF9966;
}




/*-------For Course Info---------*/
#courseinfo {
	background-color: #ff8080;
}